<ion-view view-title="Event Detail">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios-star-outline" ng-click="saveToMyList(selection)" style="color: #f9f9f9;"></a>
        <a class="button button-icon icon ion-ios-upload-outline" ng-click="share(selection)" style="color: #f9f9f9;"></a>
    </ion-nav-buttons>
    <ion-content class="padding" ng-model="selection">
        <div class="list card">
            <div class="item item-header item-text-wrap">
                <p style="padding-bottom: 8px; color:#006494; font-size:20px; margin-left:3px;"> <strong>    {{selection.sponsoringOrganizationName}} </strong>
                </p>
                <div class="row" style="padding-bottom:8px;">
                    <div style="float:left;">
                        <img src="img/pin.png" style="max-height:2em; margin-top:5px; margin-left:3px;">
                    </div>
                    <div style="margin-left:10%;">
                        <a href ng-click="launchExtMap()" style="font-size:12px;">{{selection.location_name}}</a>
                    </div>
                </div>
                <div class="row">
                    <div style="float:left;">
                        <img src="img/clock.png" style="max-height:2em; margin-top:5px;">
                    </div>
                    <div style="margin-left:10%;">
                        <p style="color:#006494; font-size:12px;"><strong>Start: </strong>{{selection.startDate}}</p>
                        <p style="color:#006494; font-size:12px;"><strong>End: </strong>{{selection.endDate}}</p>
                    </div>
                </div>
            </div>
            <div class="item item-body" style="padding-top:5px;">

                <h2>{{selection.title}}</h2>

                <p>{{selection.description}}</p>
                <div class="row" style="padding-bottom:8px;">
                    <button class="button button-block button-positive" href={{selection.detailUrl}} style="float:left; width:180px; height: 45px; padding:7px;">
                        Details & Sign-Up
                    </button>
                    <button class="button button-block button-positive" ng-click="saveToMyList(selection)" style="margin:10px;height: 45px; padding:0px;  background-color:transparent; color:#1b98e0; width:150px; font-size:14px;">
                        Save to <strong>My List</strong>
                    </button>
                </div>
            </div>
    </ion-content>
</ion-view>