<ion-view hide-nav-bar="true " class="view-bg-blue">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
    <h3 class="text-center">Angel-Source</h3>
       <div class="row">
        <div class="col">
                <div class="text-center">
                    <h4 >Login</h4>
                    <label class="item item-input">
                        <button class="button button-block button-positive" ng-click="facebook()">
                            with Facebook
                        </button>
                    </label>
                    <label class="item item-input">
                        <button class="button button-block button-positive" ng-click="google()">
                            with Google
                        </button>
                    </label>
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>
