#map {
    /*display:block;*/
    width: 100%;
    height: 800px;
}

.scroll {
    height: 100%;
}

.item-input {
    padding: inherit;
}

.input-label {
    padding-left: 1em;
}

h3 {
    padding-top: 3em;
}

.landing {
    background-image: url('../img/landing.jpg');
}

.button {
    line-height: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot') format('embedded-opentype'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot') format('embedded-opentype'), url('../fonts/Lato-Light.woff') format('woff'), url('../fonts/Lato-Light.ttf') format('truetype'), url('../fonts/Lato-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
input,
select,
p,
div,
body,
span {
    font-family: 'Lato'
}

.ion-ios-customicon,
.ion-md-customicon {
    content: url(../img/mapicon.png);
    width: 36px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 0.9;
    margin-right: 1em;
    color: black;
}

.ion-ios-star-active,
.ion-md-star-active {
    content: url(../img/star-active.png);
    width: 36px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 0.9;
    margin-right: 1em;
}

.bar.bar-stable .title,
.bar-stable .button,
.bar-stable .button:after,
.button:after,
.bar-stable .button.button-clear {
    color: #f9f9f9;
}

.whiter {
    color: #f9f9f9;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #f9f9f9;
}

ion-tabs.tabs-color-active-positive .tab-item {
    color: white;
}

body {
    background-color: #f9f9f9;
}

.tabs-top.tabs-striped .tab-item {
    background-color: #006494;
}

.special,
.bar-stable {
    background-image: linear-gradient(to bottom, #3ac9f2, #1b98e0) !important;
}

.account-key {
    text-align: right;
    font-size: 11px;
    width: 13em
}

.account-value {
    text-align: left;
    color: #006494 !important;
    padding-left: 12px !important;
    font-size: 22px !important;
}

.account-select {
    direction: ltr !important;
    width: 233px !important;
}

.angel-button {
    width: 200px !important;
    position: absolute !important;
    /*  top: 55%; -- set on object*/
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.ionic-scroll {
    background-color: #f9f9f9;
}